body {
  background-origin: content-box;
    margin: 0;
    padding: 0;
    font-family: serif;
      /* background-image: url(https://images.pexels.com/photos/7640/pexels-photo.jpg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940); */
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
      background-color: whitesmoke;
  } 

.picture{
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

  .logo {
    display:inline-block;
    position:absolute; 
    width: 100vw;
    height: 20vh;
    z-index: 5;
    background-image: url(https://img.fontspace.com/api/renderfont4/dX7X/eyJ3IjoxMDAwLCJoIjoyMDAsImZzIjoyMDAsInIiOiJnZGkiLCJmZ2MiOiIjMDAwMDAwIn0/QnJlYXRoZQ/birds-of-paradise-personal-use-only.png);
    background-size: cover
}
.overlay > a:hover:after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, .3);
}

.title-2 {
  font-family: 'Lobster', cursive;
  color: rgb(69,90,100);
  font-size: 30vw;
  position:absolute; 
  /* padding-left: 50px;
  padding-right: 50px; */
  top: 150px;
  transform: translateX(26px)
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
} 
  
footer {
  margin-top: 0%;
  top: 730px;
  width: 100vw;
  
  }
.hide-on-med-and-down right{
  
}