/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.order-history {
  display: flex;
  justify-content: center;
  /* color: rgb(194, 205, 211) */

}

.order {
  display: flex;
  justify-content: center;

}

.container-empty-cart {
  display: flex;
  justify-content: center;
}

 .history-button {
  display: flex;
  justify-content: center;
} 